.MovieSection {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Movies {
  display: flex;
}

.MovieButtons {
  display: flex;
  justify-content: space-evenly;
}
