.MovieSection {
  height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Movies {
  display: flex;
  height: 60vh;
  transition: 1s all;
}

.MovieButtons {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1001px) {
  .MovieSection {
    height: 48vh;
  }
}

@media (max-width: 625px) {
  .MovieSection {
    height: 46.5vh;
  }
}

@media (max-width: 350px) {
  .MovieSection {
    height: 38.5vh;
  }
}
