.MovieDetails {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  margin: auto;
  margin-top: 2.5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.5);
}

.MovieDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
  font-family: "Nunito";
  width: 50vw;
}

.MovieSummary {
  font-weight: 300;
  font-size: 1.7rem;
}

.MovieMetaData {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MovieImage {
  height: 70vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 1rem rgba(255,255,255.6);
  border-radius: 8px;
  transition: .4s all;
}

.MovieImage:hover {
  transform: scale(1.05);
}

.MovieVideo {
  position: absolute;
  top: 14%;
  left: 5.5%;
  display: block;
  /* transform: translate(-50%, -50%); */
  z-index: 3;
  animation: slideIn 1s;
}

.MovieVideoHide {
  display: none;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translate(0%);
  }
}
