.MovieDetails {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  margin: auto;
  margin-top: 2.5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.5);
}

.MovieDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
  font-family: "Nunito";
  width: 50vw;
}

.MovieSummary {
  font-weight: 300;
  font-size: 1.3rem;
}

.MovieMetaData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8rem;
}

.MovieImage {
  height: 70vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 1rem rgba(255,255,255.6);
  border-radius: 8px;
  transition: .4s all;
}

.MovieImage:hover {
  transform: scale(1.05);
}

.MovieVideo {
  position: absolute;
  top: 14%;
  left: 5.5%;
  display: block;
  /* transform: translate(-50%, -50%); */
  z-index: 3;
  animation: slideIn 1s;
}

.VideoFrame {
  width: 88vw;
}

.MovieVideoHide {
  display: none;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translate(0%);
  }
}

@media (max-width: 1246px) {
  .MovieVideo{
    top: 22%;
  }
}

@media (max-width: 600px) {
  .VideoFrame {
    
  }
}

@media (max-width: 1075px) {
  .MovieImage {
    height: 55vh;
  }
  .MovieDescription{
    font-size: .7rem;
  }
  .MovieSummary {
    font-size: 1.05rem;
  }
  .MovieMetaData{
    font-size: .6rem;
  }
}

@media (max-width: 799px) {
  .MovieImage {
    height: 45vh;
  }
  .MovieDescription{
    font-size: .5rem;
  }
  .MovieSummary {
    font-size: .9rem;
  }
  .MovieMetaData{
    font-size: .5rem;
    padding-bottom: .3rem;
  }
}

@media (max-width: 699px) {
  .MovieImage {
    height: 35vh;
  }
  .MovieDescription{
    font-size: .4rem;
  }
  .MovieSummary {
    font-size: .7rem;
  }
  .MovieMetaData{
    font-size: .35rem;
    padding-bottom: .3rem;
  }
}

@media (max-width: 585px) {
  .MovieImage {
    height: 30vh;
  }
  .MovieDescription{
    font-size: .3rem;
  }
  .MovieSummary {
    font-size: .5rem;
  }
  .MovieMetaData{
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 10rem;
    font-size: .35rem;
    padding-bottom: .3rem;
  }
}

@media (max-width: 350px) {
  .MovieMetaData {
    height: 7rem;
  }
}
