.Button {
  font-size: 1rem;
  font-family: "Nunito";
  font-weight: 300;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 7px;
  transition: .4s all;
  cursor: pointer;
  background-color: rgb(37, 24, 26);
  outline: none;
}

.Button:hover {
  transform: scale(1.1);
}

@media (max-width: 1001px) {
  .Button {
    padding: .75rem;
    font-size: .7rem;
  }
}

@media (max-width: 450px) {
  .Button {
    padding: .6rem;
    font-size: .6rem;
  }
}

@media (max-width: 350px) {
  .Button {
    padding-bottom: .5rem;
    font-size: .5rem;
  }
}