.Navigation {
  display: flex;
  justify-content: space-around;
  background-color: rgba(245, 245, 220, 0.274);
}

.NavigationHome {
  align-self: center;
}

.NavigationItem {
  text-align: center;
  font-family: "Nunito";
  font-size: 1.2rem;
  margin: 1rem;
  text-decoration: none;
  color: white;
  transition: .5s all;
}

.NavigationItem:hover {
  border-bottom: 1.5px solid white;
}

@media (max-width: 1001px) {
  .NavigationItem {
    font-size: 1rem;
    margin: .7rem;
  }
}

@media (max-width: 350px) {
  .NavigationItem {
    font-size: .75rem;
    margin-bottom: .6rem;
  }
}