.Movie {
  width: 12vw;
  height: 40vh;
  margin-left: .5rem;
  transition: .4s all;
  border-radius: 3px;
  animation: slideIn 1s;
  margin-bottom: 3.5rem;
}

.Movie:hover {
  transform: scale(1.04);
}


.MovieTitle {
  background-color: rgba(245, 245, 220, 0.274);
  text-align: center;
  margin-left: .5rem;
  width: 12vw;
  font-family: "Nunito";
  border-radius: 3px;
  font-size: .8rem;
  padding: .2rem;
  margin-top: -3.3rem;
  color: white;
}

@keyframes slideIn {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-1%);
  }
}
